@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.modal-content {
  padding: 16px;
  text-align: center;
}

.modal button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  height: 49px; /* Increase the height as desired */
}

.custom-text-color {
  font-size: 28px; /* Increase the font size as desired */
}


@media (max-width: 640px) {
  .modal {
    width: 90%;
    max-width: 90%;
  }
}
